<head>
   <script src='static/js/plotly-v1.52.3.min.js'></script>
</head>

<body>
  <h1>{{stock_code}}</h1>
  <div id="myDiv" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
  <!-- ENTER JAVASCRIPT CODE HERE -->
  function makeplot() {
    Plotly.d3.csv("http://localhost:5000/api/BHP.AX", function(data){ processData(data) } );
    //Plotly.d3.csv("static/data/2014_apple_stock.csv", function(data){ processData(data) } );
  };

  function processData(allRows) {
    console.log(allRows);
    console.log("allRows.length:", allRows.length)
    var x = [], y = [], standard_deviation = [];

    for (var i=0; i<allRows.length; i++) {
      row = allRows[i];
      //console.log("row i="+i.toString()+", x="+row['date_time'].toString()+", y="+row['Close'].toString())
      x.push( row['date_time'] );
      y.push( row['Close'] );
    }
    console.log( 'X',x, 'Y',y, 'SD',standard_deviation );
    makePlotly( x, y, standard_deviation );
  }

  function makePlotly( x, y, standard_deviation ){
    var plotDiv = document.getElementById("plot");
    var traces = [{
      x: x,
      y: y
    }];

    Plotly.newPlot('myDiv', traces,
      {title: 'Stock closing price.'});
  };
  makeplot();
  </script>
</body>
